<!DOCTYPE html>
<html>
  <head>
    <title>Trailhead</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav class="top-bar" data-topbar role="navigation">
      <section class="top-bar-section">
        <ul class="title-area">
          <li class="name">
            <h1><a href="/">Trailhead</a></h1>
          </li>
        </ul>
      </section>
    </nav>

    <%= yield %>
  </body>
</html>
